*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    
}

.navbar{
    height: 10vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .nav-logo{
    width: 10%;
    height: 60%;
}
.navbar .nav-logo img{
    width: 100%;
    height: 100%;
}
.nav-link ul{
    display: flex;
}
.nav-link ul li{
    list-style: none;
    margin-right: 20px;
}
.nav-link ul li a{
    text-decoration: none;
    color: black;
}
.navbar .nav-tool{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar .nav-tool input{
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
}

.navbar .nav-tool button{
    height: 40px;
}
.navbar .nav-tool button{
    padding: 0 10px;
    border-radius: 10px;
}
.navbar .nav-tool button i{
    font-size: 2rem;
}
.navbar .nav-tool img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
.navbar .menu-btn{
    display: none;
    z-index: 2;
}
.navbar .menu-btn i{
    font-size: 2.5rem;
}
.navbar .side-menu{
    height: 100vh;
    width: 40%;
    background-color: #535353;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.navbar .side-menu ul li{
    list-style: none;
    margin-bottom: 10px;
}
.navbar .side-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
/* .navbar .menu-btn:focus ~ .side-menu{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.navbar input[type="checkbox"]{
    display: none;
}
.navbar input[type="checkbox"]:checked ~ .side-menu{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .nav-link ul li a:hover{
    color: #ff7b00;
}


.main-div{
    margin: 50px 0;
    height: 60vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.main-div .left-div,.right-div{
    width: 45%;
    height: 100%;
    /* border: 1px solid black; */
}
.main-div .left-div{
    padding: 0 40px;
    background-color:#d3d3d399;
    border-radius: 10px;
}
.main-div .left-div img{
    width: 80%;
    height: 100%;
}
.main-div .right-div{
    padding: 50px;
}
.main-div .right-div p{
    color: #7d7d7d;
}
.main-div .right-div h1,p,.price{
    margin-bottom: 20px;
}
.main-div .right-div .price{
    display: flex;
    gap: 20px;
}
.right-div .price h1{
    color: blue;
    background-color: #d3d3d399;
    padding: 10px 20px;
    border-radius: 10px;
}
.right-div .price h2{
    color: rgb(152, 254, 0);
}
.add-cart select{
    background-color: #d3d3d399;
    padding: 20px;
    border-radius: 10px;
    border: none;
}
.add-cart .cart-btn{
    color: white;
    background-color: #ff7b00;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
}
.add-cart .cart-btn:hover{
    background-color:  #ff5e00;
}

.section{
    width: 100%;
    height: 15vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.section .product-img{
    width: 90%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.section .product-img .img-box{
    height: 100%;
    width: 10%;
    /* border: 1px solid black; */
    background-color: #d3d3d399;
    border-radius: 10px;
}
.product-img .img-box img{
    width: 100%;
    height: 100%;
    padding: 10px;
    
}

@media screen and (max-width:768px) {
    
    .navbar .nav-link{
        display: none;
    }
    .navbar .menu-btn{
        display:  block;
    }
    .navbar .nav-logo{
        width: 15%;
    }
    .main-div .right-div,.left-div{
        width: 50%;
    }
    .main-div .left-div{
        padding: 0;
    }
    .main-div .left-div img{
        width: 100%;
    }

}

@media  screen and (max-width:448px) {
    html{
        font-size: 12px;
    }
    .navbar .nav-logo{
        width: 20%;
    }
    .navbar .nav-tool{
        gap: 5px;
    }
    .navbar .nav-tool input[type="text"]{
        width: 100px;
    }
    .main-div{
        flex-direction: column;
        height: auto;
    }
    .main-div .left-div{
        width: 100%;
    }
    .main-div .right-div{
        padding: 20px;
        width: 100%;
    }
    .section{
        height: auto;
    }
    .section .product-img{
        width: 100%;
        overflow-x: scroll;

    }
    .section .product-img .img-box{
        width: 30%;
        height: 100%;
        margin-right: 20px;
    }
    .product-img .img-box img{
        width: 100%;
        height: 100%;
        padding: 0;
    }
}