*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.navbar{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.navbar .nav-logo{
    height: 80%;
    margin-left: 100px;
}
.navbar .nav-logo img{
    height: 100%;
    width: 100%;
}
.navbar .nav-link{
    height: 80%;
    display: flex;
    align-items: center;
}
.navbar .nav-link ul{
    display: flex;
    gap: 2rem;
}
.navbar .nav-link ul li{
    list-style: none;
    font-size: 1.3rem;
}
.navbar .username{
    margin-right: 100px;
}
.navbar .username h1{
    background-color: rgb(185, 228, 255);
    color: rgb(0, 183, 255);
    padding: 1rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 2rem;
}
.navbar button{
    float: right;
    margin-right: 20px;
    background-color: white;
    border: none;
    display: none;
    z-index: 2;
}

.navbar button div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.hide{
    display: none;
}
#aside-menu{
    display: none;
}
aside .side-menu{
    position: absolute;
    height: 100vh;
    width: 60vw;
    background-color: black;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar #sidemenu:focus ~ #aside-menu{
    
    display: block;
}
aside .side-menu ul li{
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
}
.container{
    margin-top: 100px;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-color: white;
}
.container div{
    height: 100%;
    width: 45%;
}
.container .detail{
    padding: 50px 30px;
}
.container h1,p,button{
    margin-bottom: 20px;
}
.container .detail :nth-child(1),:nth-child(2)
{
    color: rgb(92, 92, 92);
}
.container .detail :nth-child(3)
{
    color: rgb(0, 183, 255);
}
.container h1{
    font-size: 2rem;
}
.container p{
    font-size: 1.2rem;
}
.container .btn{
    background-color: rgb(0, 183, 255);
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 1rem;
    transition: all 1s;    
}
.container .btn:hover{
    transform: rotate(-10deg) scale(1.5);
}
.container .hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .hero-img img{
    width: 60%;
    height: 80%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    10%{transform: translate(-50px,0);}
    20%{transform: translate(0,-50px);}
    30%{transform: translate(50px,0px);}
    40%{transform: translate(0);}
    50%{transform: scaleY(1.5) scaleX(0.7);}
    60%{transform: translate(0);}
}

@media screen and (max-width:992px) {
    html{
        font-size: 14px;
    }
    .navbar .nav-logo{
        width: 20%;
        height: 60%;
        margin-left: 40px;
    }
    .navbar .username{
        margin-right: 40px;
    }
    .container .detail,.hero-img{
        width: 50%;
    }
    
    .container .hero-img img{
        height: 70%;
    }
}
@media screen and (max-width:768px){
    .html{
        font-size: 12px;
    }
    .navbar{
        width: 100vw;
    }
    .navbar .nav-link{
        display: none;
    }
    .navbar .nav-logo{
        width: 30%;
    }
    .navbar button{
        display: block;
    }
    .container{
        margin-top: 30px;
        flex-direction: column;
        height: 80vh;
    }
    .container .detail,.hero-img{
        width: 100vw;
    }
    .container .detail{
        padding: 10px;
    }
    .container .detail h1,p,button{
        margin-bottom: 10px;
    }
    
    .container .hero-img{
        width: 100%;
        height: 40vh;
    }
    .container .hero-img img{
        height: 100%;
    }
}